<div class="toolbar">
  <div class="toolbar-left">
    <span class="logo">Portfólio Maker</span>
  </div>
  
  <div class="toolbar-center">
    <button class="btn btn-primary" (click)="onAddImages()">
      Adicionar Fotos
    </button>
    <input 
      #fileInput
      type="file" 
      multiple 
      accept="image/*" 
      (change)="onFilesSelected($event)"
      class="hidden-input"
      title="Selecionar fotos"
    >

    <button class="btn btn-secondary" (click)="onImportBatch()">
      Importar Inteligente
    </button>
    
    <button class="btn" (click)="onAddText()">
      Adicionar Texto
    </button>
    
    <button class="btn" (click)="onNewSlide()">
      Novo Slide
    </button>
    
    <div class="separator"></div>
    
    <button class="btn" (click)="onZoomOut()">-</button>
    <span class="zoom-level">{{ slideService.zoom() }}%</span>
    <button class="btn" (click)="onZoomIn()">+</button>
    
    <div class="separator"></div>
    
    <button 
      class="btn" 
      (click)="onAlignToGrid()"
      title="Alinhar todos os elementos na grade"
    >
      Alinhar à Grade
    </button>

    <div class="separator"></div>

    <button 
      class="btn btn-danger" 
      (click)="onDeleteElement()"
      [disabled]="!slideService.selectedElementId()"
      title="Excluir elemento selecionado"
    >
      Excluir Elemento
    </button>
  </div>
  
  <div class="toolbar-right">
    @if (googlePhotos.isAuthenticated()) {
      <div class="google-user-info">
        @if (googlePhotos.userInfo(); as user) {
          <img [src]="user.picture" [alt]="user.name" [title]="user.name" class="user-avatar-small">
          <span class="user-name-small">{{ user.name }}</span>
        }
        <button class="btn btn-logout-small" (click)="onGoogleLogout()" title="Sair do Google">
          Sair
        </button>
      </div>
      <div class="separator"></div>
    }
    <button class="btn btn-presentation" (click)="onStartPresentation()" title="Iniciar apresentação (F5)">
      ▶ Apresentar
    </button>
    <button 
      class="btn btn-success" 
      (click)="onExportPdf()" 
      [disabled]="isExporting"
      title="Exportar como PDF"
    >
      {{ isExporting ? '⏳ Exportando...' : '📄 Exportar PDF' }}
    </button>
  </div>
</div>
